@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    margin: 0;
  }
  
  header {
    background-color: white;
    height: 80px;
    padding: 10px 20px;
    color: #3D378B;
    display: flex;
    justify-content: right;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm shadow cho header */
    position: sticky;
    top: 0;
    z-index: 1;  
  }
  
  .user-icon img {
    width: 40px;
    height: 40px;
  
  }
  
  .header-icon img {
    width: 10px;
    height: 10px;
  }
  
  .user-icon, .name-admin, .header-icon {
    margin-right: 15px;
  }
  