@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    margin: 0;
  }
.sidebar {
    background-color: #CECEFF;
    color: #3D378B;
    width: 335px;
    height: 100vh;
    float: left;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    overflow: hidden;
    z-index: 2;
  }
  
  .sidebar a {
    color: #3D378B;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .sidebar a:hover {
    background-color: #3D378B;
    color: white;
  }
  
  .sidebar_title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 10px;
    height: 70px;
    width: 100%;
  }
  
  .sidebar_title img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 10px;
  }
  
  .sidebar_title h2 {
    font-size: 20px;
    margin: 0;
    font-style: normal;
  }
  
  .sidebar ul li {
    margin: 10px 15px;
    list-style-type: none;
   
  }
  
  .sidebar ul {
    width: 300px;
    margin-right: 45px;
  }
  
  .sidebar ul li a {
    display: block;
    border-radius: 8px;
    
  }
  
  .sidebar i{
    margin-right: 10px;
  }
  