
/* Sidebar */
.sidebar {
  background-color: #CECEFF;
  color: #3D378B;
  width: 320px;
  height: 100vh;
  float: left;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  z-index: 2;
}

.sidebar a {
  color: #3D378B;
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  border-radius: 5px;
  font-size: 20px;
}

.sidebar a:hover {
  background-color: #3D378B;
  color: white;
}

.sidebar_title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 10px;
  height: 70px;
  width: 100%;
}

.sidebar_title img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 10px;
}

.sidebar_title h2 {
  font-size: 20px;
  margin: 0;
  font-style: normal;
}

.sidebar ul li {
  margin: 10px 15px;
  list-style-type: none;
 
}

.sidebar ul {
  width: 300px;
  margin-right: 45px;
}

.sidebar ul li a {
  display: block;
  border-radius: 8px;
  
}

.sidebar i{
  margin-right: 10px;
}

/* Header */
header {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
}

.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name-admin {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.header-icon img {
  width: 15px;
  height: 15px;
}

/* Main container */
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 320px;
  padding: 20px;
  background-color: #F6F6FF;
}

/* Form container */
.form-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container label {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Text box hiển thị giá trị */
.text-box {
  padding: 5px 10px; /* Giảm khoảng cách bên trong */
  border: 1px solid #CECEFF;
  border-radius: 8px;
  background-color: white;
  font-size: 14px;
  color: #3D378B;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 30px; /* Chiều cao lùn hơn */
  display: flex;
  align-items: center;
}

/* Nút Quay lại */
.submit-button {
  padding: 10px 20px;
  background-color: #5034C4;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
}

.submit-button:hover {
  background-color: #3D378B;
}

/* Avatar container */
.avatar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.avatar-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #CECEFF;
}

.avatar-container label {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}