<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/QuanLyNguoiDung.css" />
    <title>Quản lý người dùng</title>
</head>
<body>
    <aside>
        <div class="sidebar">
            <div class="sidebar_title">
                <div style="margin-right: 10px;">
                    <img src="../images/coins_1.jpg" alt="User Avatar">
                </div>
                <div>
                    <h2>NGÂN SÁCH<br>NHANH CHÓNG</h2>
                </div>
            </div>
            <ul>
                <li><a href="/TrangChu" class="active"><i class="fas fa-home"></i> Trang chủ</a></li>
                <li><a href="/QuanLyNguoiDung"><i class="fas fa-users"></i> Quản lý người dùng</a></li>
                <li><a href="/ThongTinAdmin"><i class="fas fa-user-cog"></i> Thông tin cá nhân</a></li>
            </ul>
        </div>
    </aside>

    <header>
        <div class="user-icon">
            <img src="../images/user_women.png" alt="User">
        </div>
        <div class="name-admin">
            <span>Administrator</span>
        </div>
        <div class="header-icon">
            <img src="../images/arrow_down.png" alt="icon">
        </div>
    </header>

    <div class="content">
        <div class="search-section">
            <input type="text" placeholder="Tìm kiếm" class="search-input">
            <button class="search-button">
                <img src="../images/search_ic.png" alt="Search">
            </button>
        </div>

        <ul class="user-list" id="userList"></ul>
    </div>

    <!-- JavaScript -->
    <script src="/js/user.js"></script>
</body>
</html>
