<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <link rel="stylesheet" href="public/css/styles.css"> <!-- Liên kết file CSS -->
</head>
<body>

    <!-- Sidebar -->
    <aside>
        <div class="sidebar">
            <div class="sidebar_title">
                <div style="margin-right: 10px;">
                    <img src="../images/coins_1.jpg" alt="User Avatar">
                </div>
                <div>
                    <h2>NGÂN SÁCH<br>NHANH CHÓNG</h2>
                </div>
            </div>
            <ul>
                <li><a href="/TrangChu" class="active"><i class="fas fa-home"></i> Trang chủ</a></li>
                <li><a href="/QuanLyNguoiDung"><i class="fas fa-users"></i> Quản lý người dùng</a></li>
                <li><a href="/ThongTinAdmin"><i class="fas fa-user-cog"></i> Thông tin cá nhân</a></li>
            </ul>
        </div>
    </aside>

</body>
</html>
