<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyChiTieu"
        tools:targetApi="31">
        <activity
            android:name=".Controller.TrangChuAdmin"
            android:exported="false" />
        <activity
            android:name=".Controller.C_NganSach"
            android:exported="false" />
        <activity
            android:name=".Controller.Ctrl_DoiMatKhau"
            android:exported="false" />

        <activity
            android:name=".Controller.View_QuanLyHangMuc"
            android:exported="false" >

        </activity>
        <activity
            android:name=".Controller.Ctrl_ThemChiPhi"
            android:exported="false" />
        <activity
            android:name=".Controller.ChiTietNganSach"
            android:exported="false" />
        <activity
            android:name=".Controller.ChuyenTien"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".Controller.CacTaiKhoan"
            android:exported="false">
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.MAIN" />-->

<!--                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                </intent-filter>-->
        </activity>
        <activity
            android:name=".Controller.CacGiaoDich"
            android:exported="false" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".Controller.Ctrl_XemChiPhi"
            android:exported="false" />

        <activity
            android:name=".Controller.LoginActicity"
            android:exported="false" />

        <activity
        android:name=".View.V_SideMenu"
        android:exported="false" />

        <activity
            android:name=".Controller.Ctrl_ThongTinCaNhan"
            android:exported="false" />

        <activity
            android:name=".Controller.NganSachMoi"
            android:exported="false" />



        <activity
            android:name=".Controller.Ctrl_XemThuNhap"
            android:exported="false" />
        <activity
            android:name=".Controller.Ctrl_XemTKChiTiet"
            android:exported="false" />
        <activity
            android:name=".Controller.RegisterActivity"
            android:exported="false">
        </activity>
        <activity android:name=".Controller.TongQuan" android:exported="false" />
        <activity android:name=".View.View_HangMucChiPhi" android:exported="false" />
        <activity
            android:name=".Controller.TrangChuDNDK"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".Controller.ThongTinNguoiDung" />
        <activity android:name=".View.View_DanhSachUser"
            android:exported="false"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>